/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


.bp-create-doc-button-nav-container {
    float: right;
}

#buddypress #bp-docs-all-docs .mrad_create_doc_options_list li {
    margin: 0;
    width: 100%;
}
.item-list-tabs #bp-docs-all-docs .bp-create-doc-button-nav-container ul {
    border-bottom: 0;
    padding-bottom: 0;
}

.bp-create-doc-button-nav-container .accessible-menu .sub-nav {
    width: 17em;
}


.bp-create-doc-button-nav-container .accessible-menu .sub-nav:after,
.bp-create-doc-button-nav-container .accessible-menu .sub-nav:before {
    left: 55%;
}
#buddypress #bp-create-doc-button {
    padding-right: 26px;
}
#subnav .bp-create-doc-button-nav-container .accessible-menu .sub-nav .sub-nav-group li {
    width: 100%;
    margin-right: 0;
}
#subnav .bp-create-doc-button-nav-container .accessible-menu .sub-nav .sub-nav-group a {
    padding: 0 0.6em;
    display: inline-block;
    vertical-align: middle;
    width: 93%;
}
.bp-create-doc-button-nav-container .sub-nav a {
}
.bp-create-doc-button-nav-container .icon {
    display: inline-block;
    vertical-align: middle;
    background-color: #FFF;
    border-radius: 0;
    margin-right: .6em;
    padding: 0;
}

.doc-content .cc-map-widget img {
    margin: 0;
}
.doc-content .map-widget-data {
    display: none;
}
.doc-content .report-link {
    margin-bottom: 1.2em;
}
.doc-content .reportx24 {
    display: inline-block;
    vertical-align: middle;
    margin-right: .4em;
}

#subnav.item-list-tabs .bp-create-doc-button-nav-container ul {
    border-bottom: 0;
}

.docs-filter-section ul.no-bullets {
    margin-bottom: 0;
}
.mrad-types-filter-list .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: .8em;
}

.docs-filter-section .category-links a {
    background-color: #2cbdda;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 0.6rem;
    padding: 0 0.8em;
    transition: all 0.3s ease 0s;
}
.docs-filter-section .category-links a:visited {
    color: #fff;
}
.docs-filter-section .category-links a:hover {
    background-color: #008eaa;
    color: #fff;
}

/* Adjustments to the document table view*/
.doctable footer.entry-meta {
    margin-top: 0
}
.doctable .doc-excerpt p {
    margin-bottom: .5em;
}

#buddypress table.doctable .title-cell footer.entry-meta .category-links a {
    font-size: .9rem;
    line-height: 1.8;
    background-color: white;
    border: 1px solid #ccc;
    color: #008EAA;
    transition: all .3s ease;
}
#buddypress table.doctable .title-cell footer.entry-meta .category-links a:hover {
    color: white;
    background-color: #008EAA;
    border-color: #008EAA;
}
.doctable .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}

/* Override the tendency of the title to bump down en masse. */
.site-content #buddypress table.doctable .title-cell a {
    display: inline;
}

/*Control the breadcrumb display*/
.bp-docs.buddypress .site-content .directory-title {
    font-size: 1rem;
    margin-top: 0;
}

.docs-list .doc-title {
    margin: 0 0 0 -28px;
}
.doc-title .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}
.docs-list .doc-excerpt p {
    margin-bottom: .5em;
}
.docs-list footer.entry-meta {
    margin-top: 0
}

.ie7 .bp-create-doc-button-nav-container,
.ie8 .bp-create-doc-button-nav-container {
    float: right;
}